h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
}

header {
    height: 120px;
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
}