h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-left: 2%;
}

header {
    height: 120px;
    background-color: #2c3e50;
    display: flex;
    margin-bottom: 5%;
}

a {
    color: white;

}

a:hover {
    color: #C7C2C1;
}

.apropos {
    position: relative;
    
}